# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional vscode cache
.vscode

# dotenv environment variables file
.env
.env.test

# public folder
public/
