.search-btn {
  position: absolute;
  height: 69%;
  top: 12px;
  right: 25px;
  border: none;
  background-color: $color-light-grey;

  i {
    font-size: 2.2rem;
    opacity: 0.7;

    &:hover {
      opacity: 1;
    }
  }
}

.custom-select {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 170px;
  // width: 100%; if clicked
  margin: 20px 0 0 0;
  border-radius: $radius;

  &:first-child {
    margin: 0;

    @include breakpoint(xs) {
      margin: 0 20px 0 0;
    }
  }

  &:last-child {

    @include breakpoint(xs) {
      margin: 0;
    }
  }

  @include breakpoint(xs) {
    margin: 0 20px 0 0;
  }

  input[type=text] {
    padding: 10px;
    margin: 8px 0 8px 8px;
    width: 60%;
    font-size: 12px;
    font-weight: 700;
    color: $color-body;
    border-radius: $radius;

    @include breakpoint(lg) {
      font-size: 14px;
    }

    @include breakpoint(xl) {
      font-size: 16px;
    }

    &::placeholder {
      font-weight: 700;
      color: $color-body;
    }
  }

  &__btn-select {
    position: relative;
    margin: 0 4px 0 0;
    height: 100%;
    width: 30px;
    border: none;
    background-color: transparent;

    &:before {
      position: absolute;
      content: "";
      right: 14px;
      width: 12px;
      height: 3px;
      transform: rotate(-130deg);
      border-radius: $radius;
      background-color: $color-body;
      transition: transform .2s ease-in;
    }

    &:after {
      position: absolute;
      content: "";
      right: 7px;
      width: 12px;
      height: 3px;
      transform: rotate(130deg);
      border-radius: $radius;
      background-color: $color-body;
      transition: transform .2s ease-in-out;
    }

    &--selected {
      &:before {
        position: absolute;
        content: "";
        right: 14px;
        width: 12px;
        height: 3px;
        transform: rotate(-45deg);
        border-radius: $radius;
        background-color: $color-body;
        transition: transform .2s ease-in;
      }
  
      &:after {
        position: absolute;
        content: "";
        right: 7px;
        width: 12px;
        height: 3px;
        transform: rotate(45deg);
        border-radius: $radius;
        background-color: $color-body;
        transition: transform .2s ease-in;
      }
    }
  }

  .fas {
    color: $color-body;
  }

  &--ingredients {
    background-color: $color-ingredients;

    input[type=text] {
      border: 1px solid $color-ingredients;
      background-color: $color-ingredients;
      color: $color-body;
    }
  }

  &--appliances {
    background-color: $color-appliances;

    input[type=text] {
      border: 1px solid $color-appliances;
      background-color: $color-appliances;
      color: $color-body;
    }
  }

  &--ustensils {
    background-color: $color-ustensils;

    input[type=text] {
      border: 1px solid $color-ustensils;
      background-color: $color-ustensils;
      color: $color-body;
    }
  }
}