.icon-close {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 0 15px;
  padding-bottom: 5px;
  width: 16px;
  height: 11px;
  font-size: 1.7rem;
  border-radius: 35px;
  border: solid 3px white;
  color: white;
  background-color: transparent;
  transition: all .15s ease-in;
}