.recipe-card {
  margin: 1.5rem;
  border-radius: $radius;
  background-color: $grey-light-color;

  a {
    color: $primary-color-text;
  }

  &__img {
    height: 15rem;
    border-radius: $radius $radius 0 0;
    background-color: $grey-color;
  }

  &__content {
    display: flex;
    flex-direction: column;
    padding: 15px;
  
    h2 {
      display: flex;
      flex-direction: column;
      margin: 0;
      font-size: 2.2rem;
      font-weight: 700;

      @include breakpoint(xs) {
        flex-direction: row;
        justify-content: space-between;
      }

      @include breakpoint(xl) {
        font-size: 1.8rem;
      }

      @include breakpoint(xxl) {
        font-size: 2.2rem;
      }

      .recipe-card__content__title {
        max-width: 255px;
        font-weight: 400;
        @include hide-text;

        @include breakpoint(xl) {
          max-width: 230px;
        }
  
        @include breakpoint(xxl) {
          max-width: 255px;
        }
      }

      .timer-icon {
        display: inline-block;
        position: relative;
        top: 9px;
        background-image: url("../img/timer.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 25px 25px;
        width: 35px;
        height: 35px;
      }
    }
  
    &__description {
      display: flex;
      flex-direction: column;

      @include breakpoint(xs) {
        flex-direction: row;
        justify-content: space-between;
        gap: 25px;
      }
    }
  
    ul {
      width: 50%;
      line-height: 2.2rem;
    }
  
    p {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 10;
      overflow: hidden;
      width: 100%;
      line-height: 2rem;

      @include breakpoint(xs) {
        width: 50%;
      }
    }
  }
}
