.select {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 20px 0 0 0;
  border-radius: $radius;

  &:first-child {
    margin: 0;

    @include breakpoint(sm) {
      margin: 0 20px 0 0;
    }
  }

  &:last-child {

    @include breakpoint(sm) {
      margin: 0;
    }
  }

  @include breakpoint(sm) {
    margin: 0 20px 0 0;
    width: 170px;
  }

  input[type=text] {
    padding: 10px;
    margin: 8px 0 8px 8px;
    width: 85%;
    font-size: 12px;
    font-weight: 700;
    color: $body-color;
    outline: none;
    border-radius: $radius;

    @include breakpoint(sm) {
      width: 60%;
    }

    @include breakpoint(lg) {
      font-size: 14px;
    }

    @include breakpoint(xl) {
      font-size: 16px;
    }

    &::placeholder {
      font-weight: 700;
      color: $body-color;
    }
  }

  &__btn {
    position: relative;
    margin: 0 4px 0 0;
    height: 50px;
    width: 30px;
    border: none;
    background-color: transparent;

    @include breakpoint(sm) {
      height: 100%;
    }

    &:before {
      position: absolute;
      content: "";
      right: 14px;
      width: 12px;
      height: 3px;
      transform: rotate(-130deg);
      border-radius: $radius;
      background-color: $body-color;
      transition: transform .2s ease-in;
    }

    &:after {
      position: absolute;
      content: "";
      right: 7px;
      width: 12px;
      height: 3px;
      transform: rotate(130deg);
      border-radius: $radius;
      background-color: $body-color;
      transition: transform .2s ease-in-out;
    }

    &--selected {
      &:before {
        position: absolute;
        content: "";
        right: 14px;
        width: 12px;
        height: 3px;
        transform: rotate(-45deg);
        border-radius: $radius;
        background-color: $body-color;
        transition: transform .2s ease-in;
      }
  
      &:after {
        position: absolute;
        content: "";
        right: 7px;
        width: 12px;
        height: 3px;
        transform: rotate(45deg);
        border-radius: $radius;
        background-color: $body-color;
        transition: transform .2s ease-in;
      }
    }
  }

  .fas {
    color: $body-color;
  }

  &--ingredients {
    background-color: $primary-color;

    input[type=text] {
      border: 1px solid $primary-color;
      background-color: $primary-color;
      color: $body-color;
    }

    &--open {
      flex: 1;

      @include breakpoint(sm) {
        flex: auto;
      }
    }
  }

  &--appliances {
    background-color: $secondary-color;

    input[type=text] {
      border: 1px solid $secondary-color;
      background-color: $secondary-color;
      color: $body-color;
    }

    &--open {
      flex: 0.5;

      @include breakpoint(sm) {
        flex: auto;
      }

      @include breakpoint(lg) {
        flex: 0.5;
      }
    }
  }

  &--ustensils {
    background-color: $tertiary-color;

    input[type=text] {
      border: 1px solid $tertiary-color;
      background-color: $tertiary-color;
      color: $body-color;
    }

    &--open {
      flex: 1;

      @include breakpoint(sm) {
        flex: auto;
      }
    }
  }
}