.tag-selected {
  align-items: center;
  margin: 0 15px 0 0;
  padding: 0 10px;
  min-width: fit-content;
  height: 35px;
  border-radius: $radius;
  border: none;

  .icon-close {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0 0 0 15px;
    padding: 0 10px 0 0;
    transition: all .15s ease-in;

    &::before {
      position: absolute;
      content: "";
      width: 12px;
      height: 12px;
      border-radius: 35px;
      background-color: transparent;
      border: solid 2px white;
  
      @include breakpoint(lg) {
        border: solid 3px white;
      }
    }
  
    &::after {
      position: absolute;
      content: "\002716";
      font-size: 9px;
      color: $body-color;
  
      @include breakpoint(lg) {
        font-weight: 700;
      }
    }
  }

  &:hover {
    .icon-close {
      &:before {
        background-color: $body-color;
      }

      &:after {
        color: $primary-color-text;
      }
    }
  }

  &[data-cat=ingredients]:hover {
    background-color: $primary-dark-color;
  }
  
  &[data-cat=appliances]:hover {
    background-color: $secondary-dark-color;
  }
  
  &[data-cat=ustensils]:hover {
    background-color: $tertiary-dark-color;
  }
}