// Color variables

$primary-color: hsl(216, 92%, 58%);
$secondary-color: hsl(152, 60%, 63%);
$tertiary-color: hsl(6, 81%, 63%);
$primary-dark-color: hsl(216, 65%, 40%);
$secondary-dark-color: hsl(152, 60%, 45%);
$tertiary-dark-color: hsl(6, 81%, 45%);
$grey-color: hsl(0, 7%, 76%);
$grey-light-color: hsl(0, 0%, 91%);
$body-color: hsl(0, 0%, 100%);
$primary-color-text: hsl(0, 0%, 0%);
$radius: .5rem;