// Color variables

$color-ingredients: hsl(216, 92%, 58%);
$color-appliances: hsl(152, 60%, 63%);
$color-utensils: hsl(6, 81%, 63%);
$color-dark-grey: hsl(0, 7%, 76%);
$color-light-grey: hsl(0, 0%, 91%);
$color-body: hsl(0, 0%, 100%);
$color-text-primary: hsl(0, 0%, 0%);
$radius: .5rem;