.tags-selection-container {
  display: flex;
  flex-direction: column;
  padding: 15px;

  @include breakpoint(sm) {
    flex-direction: row;
  }
}

.select__tags-list {
  position: absolute;
  display: none;
  z-index: 10;
  padding: 5px 0;
  top: 27px;
  max-height: 348px;
  width: -webkit-fill-available;
  overflow: hidden;
  border-radius: $radius;

  @include breakpoint(md) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include breakpoint(lg) {
    column-gap: 10px;
    max-height: 284px;
  }

  .tag {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 8px 8px 8px 15px;
    font-weight: 700;
    cursor: pointer;

    &::first-letter {
      text-transform: uppercase;
    }

    &--message-empty {
      font-weight: 400;
      opacity: .5;
      cursor: default;

      &:hover {
        background-color: transparent;
      }
    }
  }
}

.select__tags-list--ingredients {

  @include breakpoint(lg) {
    grid-template-columns: repeat(3, 1fr);
  }

  @include breakpoint(xl) {
    grid-template-columns: repeat(5, 1fr);
    max-height: 187px;
  }

  li {

    @include breakpoint(sm) {
      max-width: 86%;
    }

    @include breakpoint(lg) {
      max-width: 87%;
    }
  }

  li:hover {
    background-color: $primary-dark-color;
    color: $body-color;
  }
}

.select__tags-list--appliances {

  @include breakpoint(md) {
    max-height: 188px;
  }

  li {

    @include breakpoint(sm) {
      max-width: 86%;
    }

    @include breakpoint(lg) {
      max-width: 100%;
    }
  }

  li:hover {
    background-color: $secondary-dark-color;
    color: $body-color;
  }
}

.select__tags-list--ustensils {

  @include breakpoint(lg) {
    grid-template-columns: repeat(3, 1fr);
  }

  @include breakpoint(xl) {
    grid-template-columns: repeat(4, 1fr);
    max-height: 187px;
  }

  li {

    @include breakpoint(sm) {
      max-width: 86%;
    }

    @include breakpoint(lg) {
      max-width: 87%;
    }

    @include breakpoint(lg) {
      max-width: 90%;
    }
  }

  li:hover {
    background-color: $tertiary-dark-color;
    color: $body-color;
  }
}