.info-message-container {
  padding: 15px;
}

.recipes-list {
  display: flex;
  flex-direction: column;

  @include breakpoint(lg) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }

  @include breakpoint(xl) {
    grid-template-columns: repeat(3, 1fr);
  }
}