header {
  text-align: center;
  padding: 15px;

  .lpp_logo {
    width: 200px;

    @include breakpoint(xl) {
      width: 320px;
    }
  }

  form {
    position: relative;
    margin: 15px 0 0 0;

    input[type=text] {
      width: 100%;
      padding: 20px;
      margin: 8px 0;
      display: inline-block;
      font-size: 1.2rem;
      border: 1px solid $color-light-grey;
      background-color: $color-light-grey;
      border-radius: $radius;
      box-sizing: border-box;
  
      @include breakpoint(lg) {
        font-size: 1.4rem;
      }
  
      @include breakpoint(xl) {
        font-size: 1.6rem;
      }
  
      &::placeholder {
        opacity: .6;
      }
    }
  }

  .tags-selection {
    display: flex;
    flex-direction: column;
    padding: 12px 0 0 0;

    @include breakpoint(xs) {
      flex-direction: row;
    }
  }
}

.recipes-list {
  display: flex;
  flex-direction: column;

  @include breakpoint(lg) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }

  @include breakpoint(xl) {
    grid-template-columns: repeat(3, 1fr);
  }
}

